
.topleftsection {
	
	float: left;
	width: 500px;
	height: 300px;
	border: red solid 1px;
	margin: 5px;
}

.toprightsection {
	
	width: 200px;
	height: 300px;
	float: left;
	border: green solid 1px;
	margin: 5px;
}

.bottomleftsection {
	
	width: 400px;
	clear: left;
	border: blue solid 1px;
	margin: 5px;
}

.bottomrightsection {
	
	width: 400px;
	float: left;
	border: purple solid 1px;
	margin: 5px;
}

.bottomfullsection {
	clear: left;
	border: orange solid 1px;
	margin: 5px;
}

