.label {
	font-family: Varela;
	font-size: 1.2em;
	float: left;
	margin: 10px;
	margin-right: 2px;
}

.input {
	float: left;
	margin-top: 5px;
	
}

.button {
	float: left;
	margin-top: 5px;
}

#loggedInInterface {
	
	height: 100px;
	border: rebeccapurple solid 1px;
}

form {
	border: 3px solid lightslategrey;
	width: 500px;
	padding: 10px;
	background-color: lightskyblue
}
		
img {
	border: 3px solid lightslategrey;
}
					
.emptySpace { 
	border: medium dotted red; 
	height: 30px; 
	width: 30px; 
	margin: 5px }
		
		
#albumCheck,
#uploadPic,
#picURL,
uploadWelcome {
	border: 3px solid lightslategrey;
	width: 500px;
	padding: 10px;
	background-color: lightskyblue
}

