.label {
	font-family: Oxygen;
	font-size: 1.3em;
	float: left;
	margin: 10px;
	margin-right: 2px;
}

.input {
	float: left;
	margin-top: 5px;
	
}

.button {
	float: left;
	margin-top: 5px;
}

#loggedInInterface {
	
	height: 100px;
	border: rebeccapurple solid 1px;
}